- const title = "5DRAW";

mixin featuredImageThumbnail(fullURL, imgSrc, text)
  a(href=fullURL)
    img(src=imgSrc alt=text)

// Thank you for visiting my website!
doctype html
html
  head
    title #{title}
    block scripts
  body
    .wrapper.has-background-dark.is-relative
      .modal
        .modal-background
        .modal-content
          .box
            .container
              .field
                label.label Username
                .control
                  input.input
              .field
                label.label Password
                .control
                  input.input
              .field
                .columns.is-marginless
                  .column.button.is-primary.is-paddingless Log in
              .field
                .columns.is-marginless
                  .column.button.is-outlined.is-primary.is-paddingless Sign Up
      header
        nav.level.has-background-primary
          .level-left
            a.level-item.has-text-light.has-text-weight-bold(href="/") #{title}
          .level-right
            a.level-item.has-text-light(href="/draw") DRAW
            a.level-item.has-text-light(href="/explore") EXPLORE
            .button.level-item.is-outlined.is-inverted.is-primary LOGIN/SIGN UP
      block content
      block footer
        .footer
          .container.has-text-centered
            p Copyright &COPY 2019, Chanse Taylor
      script(src="/javascripts/modal.js")
